<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Please input id and password</p>
<form method="post" action="/login">
    <p>UserId: <input id="userid" name="userid" type="text"></p>
    <p>Password: <input id="pwd" name="pwd" type="password"></p>
    <input id="submit" name="submit" type="submit" value="提交">
</form>
</body>
</html>
